body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.CENTER-SITE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SITE-FLOATING {
    width: 100%;
    height: 100%;
    display: flex;
}

.SITE-BOX {
    width: 935px;
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #FFFFFF;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    position: fixed;
    z-index: 2;
}

.header-objects {
    width: 935px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos {
    display: flex;
    justify-content: space-between;
    width: 140px;
    height: 28px;
    align-items: center;
}

.logos img {
    height: 100%;
}

.header-logos {
    display: flex;
}

ion-icon {
    font-size: 22px;
}

.vl {
    border-left: 1px solid #DBDBDB;
    height: 22px;
}

.header-search {
    background-color: #FAFAFA;
    box-sizing: border-box;
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.header-search p {
    color: #979797;
    font-weight: 400;
    font-size: 12px;
}

.icons {
    width: 140px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons {
    font-size: 22px;
}


.CONTAINER-RIGHT {
    margin-top: 88px;
    width: 293px;
    position: fixed;
    right: calc((100% - 935px)/2);
}

.CONTAINER-LEFT {
    width: 614px;
}

.container-stories {
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    overflow:hidden;
    width: 614px;
    height: 118px;
    margin-top: 88px;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    align-items: center;
}
.setinha{
    position: absolute;
    top:46px;
    right:5px;
    z-index: 1;
    width: 26px;
    height: 26px;
    color: white;
    filter: drop-shadow(-1px 3px 3px #888888);
}

.story {
    width: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.story p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    color: #262626;

}

.container-story-img {
    position: relative;
}

.story-bg {
    width: 66px;
    height: 66px;
}

.story-img {
    width: 56px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.container-posts {
    width: 614px;
    display: flex;
    flex-direction: column;
}

.posts {
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 614px;
    height: 749px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.post-header {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 614px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    color: #262626;
}

.post-header img {
    width: 32px;
    height: 32px;
}

.post-header p {
    font-weight: bold;
}

.post-picture {
    width: 612px;
    height: 612px;
}

.post-picture img {
    width: 612px;
    height: 612px;
}

.post-owner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-owner img {
    margin-right: 10px;
}

.post-actions {
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 614px;
    display: flex;
    justify-content: space-between;
}

.actions-left {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.post-reactions {
    box-sizing: border-box;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-reactions img {
    width: 20px;
    height: 20px;
}

.post-reactions h1 {
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header img {
    margin-right: 10px;
}

.sidebar-header h1 {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.sidebar-header h2 {
    font-weight: 300;
    font-size: 14px;
    color: #8E8E8E;
}

.suggestions {
    display: flex;
    justify-content: space-between;
}

.suggestions h1 {
    font-weight: 500;
    font-size: 12px;
    color: #8E8E8E;
}

.suggestions h2 {
    font-weight: 500;
    font-size: 12px;
    color: #262626;
}

.suggestions-follow {
    display: flex;
    height: 40px;
    margin-top: 10px;
    align-items: center;
}

.suggestions-follow img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.profile-name h1 {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
    margin-bottom: 3px;
}

.profile-name h2 {
    font-weight: 400;
    font-size: 14px;
    color: #8e8e8e;
}

.suggestions-follow p {
    position: absolute;
    right: 0px;
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
}

.container-sidebar-footer {
    margin-top: 20px;
    font-size: 11px;
    line-height: 12.89px;
    font-weight: 400;
    color: #C7C7C7;
}

.sidebar-footer {
    margin-bottom: 20px;
}

@media (max-width: 934px){
    .CONTAINER-RIGHT{
        display: none;
    }
    .SITE-BOX{
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 613px){

    .CENTER-SITE {
        background-color: cyan;
    }
    
    .SITE-FLOATING {
        background-color: black;        
    }
    
    .SITE-BOX {
        background-color: purple;
    }
    .CONTAINER-LEFT{
        background-color: green;
        width: 100%;
    }
    .CONTAINER-RIGHT{
        background-color: yellow;
    }
}